# --- IDE & System ---
.idea/
*.iml
.DS_Store
Thumbs.db
.vscode/

# --- Backend (Java/Maven) ---
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/*.jar
backend/*.war

# --- Frontend (Node/Vue) ---
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vuepress/dist

# --- Datenbank (H2 & Local) ---
*.db
*.log